h1 {
    font-size: 50px;
    text-align: center;
    color: white;
    font-family: 'Aref Ruqaa', serif;
    text-shadow: 2px 2px 10px red;
    animation-timing-function: ease;
    animation: enterTop 1.5s;
    transition: color 2s;
}

h1:hover {
    color: black;
}

@keyframes enterTop {
    0% {
        opacity: 0;
        transform: scale(.01);
    }
    50% {
        opacity: 1;
        transform: scale(2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

h3 {
    text-align: center;
    color: white;
    font-family: 'Aref Ruqaa', serif;
}

a {
    /*Odd Town Member*/
    text-align: center;
    color: white;
    font-family: 'Aref Ruqaa', serif;
}

body {
    background: radial-gradient(red, black);
}

.movie-summary {
    max-width: 900px;
    height: 350px;
    margin: auto;
    padding: 30px;
    margin-bottom: 50px;
    font-family: 'Space Mono', monospace;
    color: white;
}

#description {
    font-family: 'Space Mono', monospace;
    max-width: 550px;
    position: absolute;
    color: white;
    border-radius: 25px;
    border: 10px ridge black;
    padding: 20px;
    transition: color 2s;
}

#description:hover {
    color: black;
}

#poster {
    float: right;
    margin-top: 30px;
    filter: blur(10px);
    transition: filter 2s;
}

#poster:hover {
    filter: blur(0)
}

.cast-members {
    width: 375px;
    height: 200px;
    margin: 420px;
    padding: 30px;
    margin-top: 50px;
    font-family: 'Space Mono', monospace;
    color: white;
    border-radius: 25px;
    border: 10px ridge black;
    padding: 20px;
    transition: color 2s;
}

.cast-members:hover {
    color: black;
}

ul {
    position: absolute;
    max-width: 350px;
}

#name-one {
    margin-top: 0px;
}

#name-two {
    margin-top: 30px;
}

#name-three {
    margin-top: 60px;
}

#name-four {
    margin-top: 90px;
}

#name-five {
    margin-top: 120px;
}

#cast-pic {
    float: right;
    position: relative;
    bottom: 650px;
    right: 420px;
    filter: brightness(0);
    transition: filter 2s;
}

#cast-pic:hover {
    filter: brightness(1)
}

.form {
    max-width: 900px;
    height: 320px;
    margin: auto;
    padding: 30px;
    font-family: 'Space Mono', monospace;
    color: white;
}

#s-tickets {
    float: left;
    font-family: 'Space Mono', monospace;
    color: white;
    border-style: solid;
}

#num-s-tickets {
    margin-left: 20px;
    margin-top: 15px;
}

#a-tickets {
    position: absolute;
    font-family: 'Space Mono', monospace;
    color: white;
    border-style: solid;
}

#num-a-tickets {
    margin-left: 20px;
    margin-top: 15px;
    font-family: 'Space Mono', monospace;
}

#k-tickets {
    position: absolute;
    font-family: 'Space Mono', monospace;
    color: white;
    border-style: solid;
}

#num-k-tickets {
    margin-left: 167px;
    margin-top: 15px;
}
