h1 {
    font-size: 50px;
    text-align: center;
    color: white;
    /*original font color*/
    font-family: 'Aref Ruqaa', serif;
    text-shadow: 2px 2px 10px red;
    /*x,y,blur,red */
    animation-timing-function: ease;
    /*starts fast than slows down*/
    animation: enterTop 1.5s;
    transition: color 2s;
    /*waits 2 seconds than it turns black*/
}

h1:hover {
    color: black;
    /* when mouse is on it, the text turns back */
}

@keyframes enterTop {
    0% {
        opacity: 0;
        /*makes heading invisible*/
        transform: scale(.01);
        /*makes heading small*/
    }
    50% {
        opacity: 1;
        /*makes heading visible*/
        transform: scale(2);
        /*makes heading twice its original size*/
    }
    100% {
        opacity: 1;
        transform: scale(1);
        /*makes the size go back to usual*/
    }
}

h3 {
    text-align: center;
    color: white;
    font-family: 'Aref Ruqaa', serif;
}

a {
    /*Odd Town Member*/
    text-align: center;
    color: white;
    font-family: 'Aref Ruqaa', serif;
}

body {
    background: radial-gradient(red, black);
    /* background: mix of red and black where black is the outside of the cirle*/
}

.movie-summary {
    max-width: 900px;
    height: 350px;
    margin: auto;
    padding: 30px;
    margin-bottom: 50px;
    font-family: 'Space Mono', monospace;
    color: white;
}

#description {
    font-family: 'Space Mono', monospace;
    max-width: 550px;
    position: absolute;
    color: white;
    border-radius: 25px;
    border: 10px ridge black;
    padding: 20px;
    transition: color 2s;
    /*calling the transition. When the mouse is over it, it waits 2 second and then it turns black*/
}

#description:hover {
    color: black;
    /*the fucntion that creates the transition*/
}

#poster {
    float: right;
    margin-top: 30px;
    filter: blur(10px);
    /*blurs the imagine depending on the pixels*/
    transition: filter 2s;
}

#poster:hover {
    filter: blur(0)
    /*when the mouse is over it, it unblurs the image*/
}

.cast-members {
    width: 375px;
    height: 200px;
    margin: 420px;
    padding: 30px;
    margin-top: 50px;
    font-family: 'Space Mono', monospace;
    color: white;
    border-radius: 25px;
    border: 10px ridge black;
    padding: 20px;
    transition: color 2s;
    /*calling the transition. When the mouse is over it, it waits 2 second and then it turns black*/
}

.cast-members:hover {
    color: black;
    /*the fucntion that creates the transition*/
}

ul {
    position: absolute;
    max-width: 350px;
}

#name-one {
    margin-top: 0px;
}

#name-two {
    margin-top: 30px;
}

#name-three {
    margin-top: 60px;
}

#name-four {
    margin-top: 90px;
}

#name-five {
    margin-top: 120px;
}

#cast-pic {
    float: right;
    position: relative;
    bottom: 650px;
    right: 420px;
    filter: brightness(0);
    /*sets brightness to 0 so its black*/
    transition: filter 2s;
    /*tells the computer what will be trasitioning*/
}

#cast-pic:hover {
    filter: brightness(1)
    /*sets the brightness to just enough so the person can see it*/
}

.form {
    max-width: 900px;
    height: 320px;
    position: relative;
    bottom: 400px;
    margin: auto;
    padding: 30px;
    font-family: 'Space Mono', monospace;
    color: white;
}

#s-tickets {
    float: left;
    font-family: 'Space Mono', monospace;
    color: white;
    border-style: solid;
    /*border*/
}

#num-s-tickets {
    margin-left: 20px;
    margin-top: 15px;
}

#a-tickets {
    position: absolute;
    font-family: 'Space Mono', monospace;
    color: white;
    border-style: solid;
    /*border*/
}

#num-a-tickets {
    margin-left: 20px;
    margin-top: 15px;
    font-family: 'Space Mono', monospace;
}

#k-tickets {
    position: absolute;
    font-family: 'Space Mono', monospace;
    color: white;
    border-style: solid;
    /*border*/
}

#num-k-tickets {
    margin-left: 167px;
    margin-top: 15px;
}

audio {
    position: relative;
    bottom: 500px;
    left: 500px;
}